.contacts {
  display: grid;
  grid-template-columns: 1fr 585px;
  gap: 22px 132px;
  padding: 83px calc(50% - 600px) 101px;

  @include vp-1365 {
    padding: 83px 20px 101px;
  }

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 17px;
    padding: 88px 45px 70px;
  }

  @include vp-767 {
    gap: 11px;
    padding: 67px 15px 10px;
  }
}

.contacts__title {
  grid-column: 1 / -1;
}

.contacts__description {
  grid-column: 1 / 2;
  margin: 0 0 24px;

  @include vp-1199 {
    grid-column: 1 / -1;
    padding-right: 198px;
  }

  @include vp-767 {
    margin-bottom: 19px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px;
  }
}

.contacts__map {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  margin-top: 17px;
  width: 585px;
  height: 324px;
  background-image: url("../img/background/map-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;

  @include vp-1199 {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin-top: 0;
    width: 100%;
    min-height: 340px;
    background-image: url("../img/background/map-tablet-bg.png");
  }

  @include vp-767 {
    background-image: url("../img/background/map-mobile-bg.png");
  }
}
