.hero-card {
  position: relative;
  color: $color-default-white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &--caucasus {
    background-image: url("../img/hero/photo-1.jpg");

    @include vp-1199 {
      background-image: url("../img/hero/photo-tablet-1.jpg");
    }
  }

  &--kamchatka {
    background-image: url("../img/hero/photo-2.jpg");

    @include vp-1199 {
      background-image: url("../img/hero/photo-tablet-2.jpg");
    }
  }

  &--altai {
    background-image: url("../img/hero/photo-3.jpg");

    @include vp-1199 {
      background-image: url("../img/hero/photo-tablet-3.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.hero-card__info {
  display: flex;
  flex-direction: column;
  padding: 181px 120px 80px;
  width: 100%;
  min-height: 800px;

  @include vp-1199 {
    padding: 174px 45px 90px;
    min-height: 1024px;
  }

  @include vp-767 {
    padding: 140px 15px 80px;
    min-height: 568px;
  }
}

.hero-card__title {
  margin: 0 0 24px;
  font-weight: 800;
  font-size: $head-desktop;
  line-height: $head-desktop;
  z-index: 5;

  @include vp-1199 {
    margin-bottom: 13px;
    font-size: $head-tablet;
    line-height: $head-tablet;
    text-align: center;

    br {
      display: none;
    }
  }

  @include vp-767 {
    font-size: $head-mobile;
    line-height: $head-mobile;
  }
}

.hero-card__description {
  margin: 0 0 37px;
  padding: 0 calc(100% - 470px) 0 0;
  font-size: 17px;
  line-height: 24px;

  @include vp-1199 {
    margin-bottom: 27px;
    padding: 0 105px;
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 21px;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
  }
}

.hero-card__link {
  margin-bottom: 30px;
  padding: 17px;
  width: 220px;
  font-weight: 500;
  text-align: center;
  z-index: 1;

  @include interaction;

  @include vp-1199 {
    margin: 0 auto 70px;
    width: 206px;
  }

  @include vp-767 {
    margin-bottom: 0;
    padding: 14px;
    width: 180px;
  }
}

.hero-card__video {
  position: absolute;
  bottom: 182px;
  right: 120px;
  width: 482px;
  height: 317px;
  background-image: url("../img/poster-desktop.jpg");

  @include vp-1199 {
    position: relative;
    bottom: 20px;
    left: 0;
    margin: 0 auto;
    width: 442px;
    height: 300px;
    background-image: url("../img/poster-tablet.jpg");
  }

  @include vp-767 {
    display: none;
  }
}

.hero-card__photo {
  position: absolute;
  bottom: 139px;
  right: 120px;
  width: 410px;
  height: 459px;

  @include vp-1199 {
    align-self: center;
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: -36px;
    width: 442px;
    height: 365px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-card__radio {
  position: absolute;
  bottom: 279px;
  right: 120px;
  width: 340px;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.9);

  @include vp-1199 {
    align-self: center;
    position: relative;
    bottom: 0;
    right: 0;
    text-align: center;
  }

  @include vp-767 {
    display: none;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 341px;
    height: 221px;
    border: 0;
    z-index: 10;
  }

  &--active {
    iframe {
      display: block;
    }
  }
}

.hero-card__details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: auto;

  @include vp-1199 {
    display: none;
  }
}

.hero-card__link-select {
  position: relative;
  padding: 12px 20px 14px 39px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);

  &--days,
  &--level {
    &::before {
      content: "";
      position: absolute;
      top: 14px;
      left: 20px;
      width: 12px;
      height: 12px;
    }
  }

  &--days {
    &::before {
      background-image: url("../img/svg/moon.svg");
    }
  }

  &--level {
    &::before {
      background-image: url("../img/svg/level.svg");
    }
  }
}
