.hero {
  padding: 0 calc(50% - 720px);
  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__wrapper {
  position: relative;
  background-color: $color-navy-blue;
  z-index: 3;
}

.hero__pagination {
  position: absolute;
  bottom: 100px;
  right: 120px;
  z-index: 5;
}
