.page-header {
  position: relative;
}

.page-header__nav {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 40px calc(50% - 600px);
  width: 100%;
  color: $color-default-white;
  z-index: 10;

  @include vp-1365 {
    padding: 40px 20px;
  }

  @include vp-1199 {
    justify-content: space-between;
    padding: 30px 45px;
    width: 100%;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
  }

  &--opened {
    background-color: $color-default-white;
    color: $color-default-black;
  }
}

.page-header__toggle {
  display: none;
  padding: 0;
  background-color: inherit;
  border: 0;
  cursor: pointer;

  @include vp-1199 {
    display: block;
    margin-bottom: 6px;
    width: 26px;
    height: 26px;
  }

  @include vp-767 {
    margin-top: -12px;
  }

  &--closed {
    background-image: url("../img/sprite/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--opened {
    margin-left: -2px;
    background-image: url("../img/sprite/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.page-header__logo-link {
  margin-right: 133px;

  @include vp-1199 {
    margin-right: 0;
    margin-left: 100px;
  }

  @include vp-767 {
    justify-self: end;
  }
}

.page-header__icon {
  color: inherit;

  @include vp-1199 {
    width: 144px;
    height: 44px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}

.page-header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 3px -22px;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    display: none;
    margin: 0;
    padding-bottom: 57px;
  }

  @include vp-767 {
    padding-bottom: 41px;
  }

  &--opened {
    position: absolute;
    top: 111px;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr;
    background-color: $color-default-white;

    @include vp-767 {
      top: 86px;
    }
  }
}

.page-header__link {
  position: relative;
  margin-left: 22px;
  padding: 3px 5px;
  line-height: 16px;

  @include vp-1199 {
    margin-left: 0;
    padding: 13px 45px;
    font-weight: 700;
    letter-spacing: 0.64px;
    text-transform: uppercase;
  }

  @include vp-767 {
    padding: 11px 15px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }

  @include hover {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $color-default-white;
    }
  }

  @include focus {
    padding: 2px 4px;
    border: 1px solid $color-default-white;
    outline: none;
  }

  &[aria-disabled="true"] {
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }
}

.page-header__wrapper {
  margin-bottom: 3px;
  width: 142px;

  @include vp-1199 {
    margin-left: 0;
  }

  @include vp-767 {
    grid-column: 1 / -1;
    justify-self: end;
    margin-top: 1px;
    margin-bottom: 0;
  }
}

.page-header__phone-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
  }

  @include hover {
    color: $color-resolution-blue;
  }

  @include focus {
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-navy-blue;
  }

  &[aria-disabled="true"] {
    background-color: rgba(2, 102, 193, 0.1);
    pointer-events: none;
  }
}
