.radio {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;
  color: $color-resolution-blue;

  @include vp-767 {
    display: none;
  }
}

.radio__title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;

  @include vp-1199 {
    text-align: left;
  }
}

.radio__block-interaction {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.radio__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(28, 51, 116, 0.48);
}

.radio__list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px 0 0 auto;
  padding: 0;
  list-style-type: none;
}

.radio__link-action {
  margin-left: 14px;
}

.radio__block-range {
  display: grid;
  grid-template-columns: 1fr;
}

.radio__range {
  position: relative;
  grid-column: 1 / -1;
  height: 2px;
  background-color: rgba(28, 51, 116, 0.4);
}

.radio__range-bar {
  position: absolute;
  left: 0;
  width: 148px;
  height: 2px;
  background-color: $color-resolution-blue;
  z-index: 5;
}

.radio__range-button {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 8px;
  height: 8px;
  background-color: $color-resolution-blue;
  border: 0;
  border-radius: 50%;
}

.radio__block-time {
  display: flex;
}

.radio__time {
  display: block;
  font-size: 10px;
  line-height: 10px;

  &--full {
    margin-left: auto;
  }
}

.radio__buttons {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.radio__button {
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: 0;
  cursor: pointer;

  &--shuffle {
    margin-right: 45px;
  }

  &--prev {
    margin-right: 15px;
  }

  &--next {
    margin-left: 15px;
  }

  &--repeat {
    margin-left: 45px;
  }
}
