.social-list {
  grid-column: 1 / -1;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto 12px;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    margin-bottom: 9px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.social-list__link {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(2, 102, 193, 0.1);

  &--vk {
    padding: 6px 5px 6px 6px;
  }

  &--ok {
    padding: 5px 6px 6px 5px;
  }

  &--reddit {
    padding: 7px 7px 6px 4px;
  }

  @include hover {
    border: 1px solid $color-elephant;
  }

  @include focus {
    border: 1px solid $color-elephant;
    outline: none;
  }

  &:active {
    background-color: $color-navy-blue;
    border: 0;

    .social-list__icon {
      color: $color-default-white;
    }
  }
}

.social-list__icon {
  display: block;
  margin: auto;
}
