.tour-card {
  position: relative;
  width: 380px;
  height: auto;
  background-color: $color-navy-blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--elbrus {
    background-image: url("../img/tours/tour-1.jpg");

    @include vp-1199 {
      background-image: url("../img/tours/tour-tablet-1.jpg");
    }

    @include vp-767 {
      background-image: url("../img/tours/tour-mobile-1.jpg");
    }
  }

  &--belukha {
    background-image: url("../img/tours/tour-2.jpg");

    @include vp-1199 {
      background-image: url("../img/tours/tour-tablet-2.jpg");
    }

    @include vp-767 {
      background-image: url("../img/tours/tour-mobile-2.jpg");
    }
  }

  &--fisht {
    background-image: url("../img/tours/tour-3.jpg");

    @include vp-1199 {
      background-image: url("../img/tours/tour-tablet-2.jpg");
    }

    @include vp-767 {
      background-image: url("../img/tours/tour-mobile-3.jpg");
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
  }
}

.tour-card__block {
  position: relative;
  display: grid;
  grid-template-columns: 340px;
  gap: 23px;
  padding: 206px 20px 28px;
  color: $color-default-white;
  z-index: 1;

  @include vp-767 {
    gap: 15px;
    padding-top: 192px;
  }
}

.tour-card__title {
  margin: 0 0 15px;
  margin-right: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }
}
