@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin interaction {
  color: $color-default-white;
  background-color: $color-navy-blue;

  @include hover {
    background-color: $color-default-white;
    color: $color-resolution-blue;
    border: 1px solid $color-resolution-blue;
  }

  @include focus {
    background-color: $color-default-white;
    color: $color-resolution-blue;
    border: 1px solid $color-resolution-blue;
  }

  &:active {
    background-color: $color-resolution-blue;
    color: $color-default-white;
  }

  &[aria-disabled="true"],
  &:disabled {
    color: $color-default-white;
    background-color: rgba(2, 102, 193, 0.1);
    pointer-events: none;
  }
}
